instance-id: vmid-{{ context.vmid }}
hostname: {{ context.name }}

{% if context.configure_network %}
{% if context.ip_address -%}
network-interfaces: |
  auto {{ context.network_device }}
  iface {{ context.network_device }} inet static
    address {{ context.ip_address }}
    network {{ context.network_address }}
    netmask {{ context.subnet_mask }}
    broadcast {{ context.broadcast_address }}
    gateway {{ context.gateway_address }}
    dns-nameservers {{ context.dns_servers }}
{% else -%}
network:
  version: 2
  ethernets:
    eth0:
      dhcp4: true
      dhcp6: true
    ens:
      match:
        name: ens*
      dhcp4: true
      dhcp6: true
{% endif -%}
{% endif %}
